.git
**/.DS_Store
hit-iz-web/src/main/webapp/WEB-INF/lib
hit-iz-web/src/main/webapp/WEB-INF/classes
hit-iz-web/src/main/webapp/META-INF
**/.idea
**/*.iml
**/target
**/node_modules
hit-iz-web/client/app/bower_components
*.md
!hit-iz-resource/**/*.md
docker-compose*.yml
.env
.env.*
